# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Env
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Logs
*.log

# Python tooling
.pytest_cache/
.mypy_cache/

# Build
dist/
build/
*.egg-info/